@model MyWebSite.ViewModels.RoutineViewModel

<!-- Modal -->
<div class="modal fade" id="modalCreateNewRoutine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-default">
            <div class="modal-header modal-default-heading">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="row modal-body modal-default-body">
                @using (Html.BeginForm("UpdateRoutine", "Routine"))
                {
                    for (int i = 0; i < Model.Times.Count(); i++)
                    {
                        @Html.HiddenFor(m=>m.Times[i].Id)
                        @Html.HiddenFor(m => m.Times[i].Day)
                        @Html.HiddenFor(m => m.Times[i].UserId)
                        @Html.HiddenFor(m => m.Times[i].End)
                        @Html.HiddenFor(m => m.Times[i].Start)
                    }
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(t => t.Time.Start)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(t => t.Time.Start, "{0:hh\\:mm}", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(t => t.Time.End)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(t => t.Time.End, "{0:hh\\:mm}", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-6">
                            @Html.DropDownListFor(r => r.Days, new SelectList(Model.Days), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.DropDownListFor(t => t.ActivityId, new SelectList(Model.Activities, "Id", "Name"), new { id = "Id", value = "Name", @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <input type="button" id="btnCreateAnotherActivity" class="btn btn-primary" value="Other" />
                        </div>
                    </div>
                    <div class="row">
                        <div id ="divAnotherActivity" class="col-md-6 col-md-offset-6">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" id="btnSaveRoutine" class="btn btn-default" value="Save"  />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}