@model MyWebSite.ViewModels.RoutineViewModel

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-default">
            <div class="modal-header modal-default-heading">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="row modal-body modal-default-body">
                @using (Html.BeginForm("UpdateRoutine", "Routine"))
                {
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(t=>t.Time.Start)
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(t=>t.Time.Start, "{0:hh\\:mm}", new { htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(t=>t.Time.Duration)
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(t=>t.Time.Duration, "{0:hh\\:mm}", new { htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.DropDownListFor(t => t.ActivityId, new SelectList(Model.Activities, "Id", "Name"), new { id = "Id", value = "Name", @class = "form-control form-control-modal" })
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(r => r.Days, new SelectList(Model.Days), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" id="btnSaveScheduleTask" class="btn btn-default" value="Save" />
                </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/scheduleTasks.js")
}