@model MyWebSite.ViewModels.RoutineViewModel
@{
    ViewBag.Title = "EditRoutine";
}

<h2>EditRoutine</h2>

<div class="panel-default">
    <div class="panel-heading">
        <div class="row">
            <input type="button" id="btnCreateRoutineForm" class="btn btn-primary btn-newRoutine" value="New Routine" data-toggle="modal" data-target="#modalCreateNewRoutine" />
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-day-routine">
                <div class="list-group list-Monday">
                    <p class="list-group-item-heading">Monday</p>
                    @foreach (var routine in Model.MondayList)
                    {
                    <div class="list-group-item list-group-item-routines">
                        <div class="col-md-12">@routine.Activity.Name</div>
                        <div class="col-md-12 col-routine-time">@routine.Time.Start - @routine.Time.End</div>
                    </div>
                    }
                </div>
            </div>
            <div class="col-day-routine">
                <div class="list-group">
                    <p class="list-group-item-heading">Tuesday</p>
                    @foreach (var routine in Model.TuesdayList)
                    {
                    <div class="list-group-item list-group-item-routines">
                        <div class="col-md-12">@routine.Activity.Name</div>
                        <div class="col-md-12 col-routine-time">@routine.Time.Start - @routine.Time.End</div>
                    </div>
                    }
                </div>
            </div>
            <div class="col-day-routine">
                <p class="list-group-item-heading">Wednesday</p>
                @foreach (var routine in Model.WednesdayList)
                {
                <div class="list-group-item list-group-item-routines">
                    <div class="col-md-12">@routine.Activity.Name</div>
                    <div class="col-md-12 col-routine-time">@routine.Time.Start - @routine.Time.End</div>
                </div>
                }
            </div>
            <div class="col-day-routine">
                <p class="list-group-item-heading">Thursday</p>
                @foreach (var routine in Model.ThursdayList)
                {
                <div class="list-group-item list-group-item-routines">
                    <div class="col-md-12">@routine.Activity.Name</div>
                    <div class="col-md-12 col-routine-time">@routine.Time.Start - @routine.Time.End</div>
                </div>
                }
            </div>
            <div class="col-day-routine">
                <p class="list-group-item-heading">Friday</p>
                @foreach (var routine in Model.FridayList)
                {
                <div class="list-group-item list-group-item-routines">
                    <div class="col-md-12">@routine.Activity.Name</div>
                    <div class="col-md-12 col-routine-time">@routine.Time.Start - @routine.Time.End</div>
                </div>
                }
            </div>
            <div class="col-day-routine">
                <p class="list-group-item-heading">Saturday</p>
                @foreach (var routine in Model.SaturdayList)
                {
                <div class="list-group-item list-group-item-routines">
                    <div class="col-md-12">@routine.Activity.Name</div>
                    <div class="col-md-12 col-routine-time">@routine.Time.Start - @routine.Time.End</div>
                </div>
                }
            </div>
            <div class="col-day-routine">
                <p class="list-group-item-heading">Sunday</p>
                @foreach (var routine in Model.SundayList)
                {
                <div class="list-group-item list-group-item-routines">
                    <div class="col-md-12">@routine.Activity.Name</div>
                    <div class="col-md-12 col-routine-time">@routine.Time.Start - @routine.Time.End</div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
@Html.EditorFor(m=>Model,"AddNewRoutine")

@section Scripts{
    @Scripts.Render("~/Scripts/Routines/routineEdit.js")
}